#loading {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: url(../plug/gears.gif) 50% 50% no-repeat;
	background-color: rgba(36, 14, 14, 0.65);
}
